.sms-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* space between cards and message-section */
  justify-content: space-between;

  margin: 2rem 0;
}

/* Styles for the individual cards */
.card {
  flex: 1;
  padding: 20px;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card i {
  font-size: 24px;
  margin-bottom: 10px;
}

.card h3 {
  margin-top: 10px;
}

/* Style for the message section */
.message-section {
  flex-basis: 30%; /* This can be adjusted based on your design requirements */
  display: flex;
  flex-direction: column;
  gap: 10px; /* space between elements inside message-section */
  padding: 20px;
  border: 1px solid #e5e5e5;
}

.message-section select,
.message-section textarea,
.message-section button {
  width: 100%;
}

.message-section textarea {
  height: 100px;
  padding: 10px;
}

.button-custom {
  padding: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  transition: background-color 0.3s ease;

  /* This is to give a hover effect on the button */
  &:hover {
    background-color: #0056b3;
  }
}

.nav-link:hover {
  cursor: pointer;
}
